.heading{
   
    padding: 30px;
    padding-bottom: 100px;
   overflow: hidden;

}
@media screen and (max-width: 880px) {
    img.mountain {
         width: 400px;
    }
}
h1{
    margin:50 auto 0 auto;
    font-family:Tangerine;
    font-size: 5rem;
    color: rgb(24, 111, 114);
    line-height: 1;

}
hr{
    border: dotted #284141 6px;
    border-bottom: none;
    width: 80px;
    margin: 80px auto 80px auto;
    
}
p{
    position: relative;
    font-weight: bold;
    color: rgb(9, 150, 155);
    margin-bottom: 60px;
}
body{
    font-size: 20px;
    text-align: center;
    background-color:rgb(206, 233, 235);
    padding-top: 60px;
    font-family: Merriweather;
    color: rgb(18, 102, 105);
    margin: 0;
}


.bottom_cloud{
    position: absolute;
    left:150px;
    top:300px
}

.top_cloud{
    position:absolute;
   right:100px;
}
.my{
    border-radius: 50%;
    height: 150px;
    width: 150px;

}
lottie-player {
    margin: -80px auto;
}
.skill-row{
    width: 50%;
    margin:auto;
    line-height: 2;

}

.btn{
    background: #19a5e6;
    border-radius: 8px;
    color: white;
    padding:8px 8px;
    font-size:20px;
    border: 2px solid rgb(8, 89, 114);
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
   
}
.btn:hover{
    background-color:#1bd188;
    text-decoration: none;
}
.bottom-container{
    margin-top: 50px;
    background-color:rgb(15, 92, 92);
    padding:20px 0 10px;
}
a{
    color: darkcyan;
    font-family: Merriweather;
    margin: 10px 30px;
    text-decoration: none;
}
a:hover{
    color:white;
}
.copyright{
    color:rgb(146, 221, 221);
    font-size: 15px;
    margin-top: 60px;;
}